# Configures app name.
# https://docs.expo.dev/versions/latest/config/app/#name
APP_NAME=rnapp

# Configures package and bundleIdentifier.
# https://docs.expo.dev/versions/latest/config/app/#package
# https://docs.expo.dev/versions/latest/config/app/#bundleidentifier
BUNDLE_IDENTIFIER=me.artyorsh.rnapp.preview

# Paths to Google Services files needed for RNFB integration. Use Expo EAS to manage.
# https://rnfirebase.io/#configure-react-native-firebase-modules
# https://docs.expo.dev/eas/environment-variables
# 
# GOOGLE_SERVICES_FILE_ANDROID=./google-services.json
# GOOGLE_SERVICES_FILE_IOS=./GoogleService-Info.plist

# Configures aps-environment capability for iOS.
# https://docs.expo.dev/build-reference/ios-capabilities/#supported-capabilities
NOTIFICATIONS_IOS_APS_ENVIRONMENT=development

####################################################################################################
# Runtime variables                                                                                #
# https://docs.expo.dev/guides/environment-variables/#reading-environment-variables-from-env-files #                                   #
####################################################################################################

EXPO_PUBLIC_ENV_NAME=preview

# Host where Grafana/Loki is accessible
# Beware that 'localhost' won't be resolved on Android
# See https://github.com/artyorsh/rnapp-grafana
EXPO_PUBLIC_GRAFANA_HOST=http://192.168.1.10:3100

# Token refresh threshold in minutes
# If locally stored token is valid for less than this threshold, it will be refreshed on the app start
EXPO_PUBLIC_AUTH_TOKEN_REFRESH_THRESHOLD_MINUTES=10
